.error {
    /* caja */
    height: 1em;
    border-radius: 8px;
    padding: 1em;
    /* posicion */
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    /* estilo */
    color: white;
    background-color: red;
}

.error__mensaje {
    margin: 0;
}

.error--oculto {
    display: none;
}